/* Universal Selector */
* {
    box-sizing: border-box;
}

/* decare Global variables */
:root {
    --light-dark: #707a7a;
    --white: white;
    --dark-gray: #282829;
    --light-blue: rgb(123, 234, 248);
    --dark-blue: rgb(42, 42, 126);
    --body-bg-color: #d3e6e6;
}

body {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: Arial, Helvetica, cursive, Verdana, Helvetica, sans-serif;
    background-color: var(--body-bg-color);
}

.title {
    background: var(--light-blue);
    font-size: 40px;
    color: var(--dark-blue);
    margin-left: 40%;
    margin-bottom: 30%;
    padding: 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--dark-gray);
}

header span {
    color: var(--dark-blue);
    background-color: var(--light-blue);
    margin: 0px;
    font-size: 2vw;
    line-height: 1;
    margin-left: 0;
    padding: 2px 15px 2px 50px;
}

/* avatar image property */
img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    padding: 5px 3px 0 0;

}

/* responsive layout that adapts to my viewport */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--light-blue);
    font-size: 1.4rem;
    border-bottom: 4px solid var(--light-blue);
    margin: 4px;
}

/* 
navbar link changes to lightblue when it is active */
nav a:hover,
div a:hover {
    background-size: 100% 100%;
    background-color: var(--light-blue);
    color: var(--white);
}

nav a:last-child {
    margin-right: 0;
}

main {
    margin-top: 15px;
    margin-bottom: 45px;
}

/* banner */
.hero {
    padding: 4% 4% 1%;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 17vh;
    background-image: url("./hero.png");
    background-repeat: repeat;
}

.hero div {
    flex: 0 0 90%;
}

.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

/* 1st child of the of the page-section class */
.page-section>h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 6px solid var(--dark-blue);
    font-size: 4vw;
    line-height: 1.1;
    color: var(--dark-blue)
}

.page-section>div {
    flex: 0 0 77%;

}

.page-section p {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: var(--dark-blue);

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 5px solid var(--light-blue);
    display: flex;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    align-items: flex-end;
    padding: 0px 0px 20px 0px;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 120%;
    font-size: 1.4rem;
    color: var(--dark-blue);
}

.flex-item:first-child {
    min-height: 500px;
    flex-basis: 100%;
}

.flex-item:hover {
    background: rgba(0, 0, 0, 0.3);
}